aiohappyeyeballs==2.6.2
aiohttp==3.14.0
aiosignal==1.4.0
asyncio-dgram==3.0.0
attrs==26.1.0
disnake==2.12.0
dnspython==2.8.0
environs==15.0.1
frozenlist==1.8.0
idna==3.16
marshmallow==4.3.0
mcstatus==13.1.0
multidict==6.7.1
propcache==0.5.2
python-dotenv==1.2.2
pytz==2026.2
typing_extensions==4.15.0
yarl==1.24.2
